.input-group {
    -webkit-box-shadow: 0px 6px 18px -11px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 18px -11px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 18px -11px rgba(0, 0, 0, 0.2);
    border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
    border: 0px solid #000000;

}

.input-group i {
    font-size: 30px;
    padding: 5px;
    color: #d5dada;
    margin-left: 17px;
    margin-top: 5px;
}

.input-group .form-control {
    background: transparent;
    border: none;
    margin: 5px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-title {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    display: block;
}


.input-title-text {
    font-weight: 800;
}

.input-title-p {
    font-size: larger;
}

.recipe-card:hover {
    text-decoration: none;
    color: black;
}

.recipe-card {
    color: black;
}

.card {
    border: none;
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    background-color: #F9FAF2;
    width: 85%;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 79%;
        margin-left: 30px;
    }
    .card-img-top {
        width: 50% !important;
        margin-left: 55% !important;
        margin-top: 9% !important;
    }
}

.card-img-top {
    width: 60%;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    margin-top: 5%;
    -webkit-box-shadow: -27px 20px 74px -24px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: -27px 20px 74px -24px rgba(0, 0, 0, 0.61);
    box-shadow: -27px 20px 74px -24px rgba(0, 0, 0, 0.61);
    margin-left: 50%;
}

.card-title {
    font-weight: 800;
}

.card-body .source {
    font-weight: 200;
    color: #749D56;
}

.info {
    position: absolute;
    bottom: 120px;
    max-width: 130px;
    font-size: 13px;
}

.card-text {
    font-weight: 700;
    color: #749D56;
}