.input-group {
    -webkit-box-shadow: 0px 6px 18px -11px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 18px -11px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 18px -11px rgba(0, 0, 0, 0.2);
    border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
    border: 0px solid #000000;

}

.input-group i {
    font-size: 30px;
    padding: 5px;
    color: #d5dada;
    margin-left: 17px;
    margin-top: 5px;
}

.input-group .form-control {
    background: transparent;
    border: none;
    margin: 5px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-title {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    display: block;
}


.input-title-text {
    font-weight: 800;
}

.input-title-p {
    font-size: larger;
}

.recipe-card:hover {
    text-decoration: none;
    color: black;
}

.recipe-card {
    color: black;
}

.card {
    border: none;
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    background-color: #F9FAF2;
    width: 85%;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 79%;
        margin-left: 30px;
    }
    .card-img-top {
        width: 56% !important;
        margin-left: 55% !important;
        margin-top: 16% !important;
    }
}

.card-img-top {
    width: 60%;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    margin-top: 15%;
    -webkit-box-shadow: -27px 20px 74px -24px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: -27px 20px 74px -24px rgba(0, 0, 0, 0.61);
    box-shadow: -27px 20px 74px -24px rgba(0, 0, 0, 0.61);
    margin-left: 50%;
}

.card-body {
    min-height: 154px;
}

.card-title {
    margin-top: 50px;
}

.card-title h5 {
    font-weight: 800;
}

.card-body .source {
    font-weight: 200;
    color: #749D56;
}

.info {
    position: absolute;
    bottom: 247px;
    max-width: 130px;
    font-size: 13px;
}
@media only screen and (max-width: 768px) {
    .info {
        bottom: 230px;
    }
}
.info-btn {
    width: 10%;
    color: #749D56;
}

.popup-content {
    font-size: 14px;
    width: 100% !important;
    border-radius: 15px 15px 15px 15px !important;
    border: none !important;
    -moz-border-radius: 15px 15px 15px 15px ;
    -webkit-border-radius: 15px 15px 15px 15px !important;
    -webkit-box-shadow: 10px 36px 48px -25px rgba(0,0,0,0.44) !important;
    -moz-box-shadow: 10px 36px 48px -25px rgba(0,0,0,0.44) !important;
    box-shadow: 10px 36px 48px -25px rgba(0,0,0,0.44) !important;
    line-height: 245%;
    padding: 22px !important;
}
.ingredients-popup p {
    font-weight: 700;
}
.popup-arrow {
    border: none !important;
}

.popup-content a {
    text-decoration: none;
    color: #000000;
}
.btn:focus {
    outline: transparent;
    box-shadow: none;
}

.card-text {
    font-weight: 700;
    color: #749D56;
}


/*for ipad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .card {
        width: 103%;
        margin-left: 0px;
    }

    .card-body {
        min-height: 132px;
    }

    .card-img-top {
        width: 55% !important;
        margin-left: 0% !important;
        margin-bottom: 19px;
        margin-top: 12% !important;
    }

    .info {
        max-width: 111px;
        font-size: 10px;
        bottom: 59px;
        min-height: 110px;
    }

   .card-title h5 {
        font-size: 13px;
   }

}